<div id="transactiontable">
    <table class='table table-hover table-responsive-sm mt-1 bg-white'>
        <thead>
            <th>Product</th>
            <th class="text-end">Quantity</th>
            <th class="text-end">Price</th>
            <th class="text-end">Amount</th>
            <th>Command</th>
        </thead>
        <tbody>
            {% for i in SO.so_transaction_set.all %}
            <tr id='t-{{ i.id }}'>
                <td>
                    <!-- <img class='mr-1' src='{{ i.Inventory.Image.url }}' alt='missing'
                    style="height: 80px; width: 106px;display:inline-block" /> -->
                    <a href="#" hx-get="{% url 'editpricemodal' i.Inventory.id %}" hx-target="#modals-here" class="nav-link text-primary"
                    _="on htmx:afterOnLoad wait 10ms then add .show to #modal then add .show to #modal-backdrop" tabindex="-1">{{ i.Inventory }}</a>
            
                </td>
                <td class='text-end'>{{ i.Quantity }} {{i.Inventory.Unit}}</td>
                <td class='text-end'>{{ i.Price }} {% if i.Profit < 1 %}<div class='text-danger'>{% else %}<div class='text-warning'>{% endif %}{{ i.Profit }}</div></td>
                <td class='text-end'>{{ i.Amount }}</td>
                <td>
                    <div class="row">
                        {% if SO.Status == 'O' %}
                        <div class="col-3">
                        <form method="post">{% csrf_token %}<button hx-confirm="Are you sure?" class='btn btn-danger'
                                type="button"
                                hx-post="{% url 'sodeletetransaction' i.id %}"" hx-target='#t-{{ i.id }}' hx-swap="
                                outerHTML" tabindex="-1"><i class="bi bi-trash3"></i></button></form>
                        </div>
                        <div class="col-3">
                        <button class="btn btn-primary" hx-get="{% url 'soedittransaction' i.id %}"
                            hx-target='#t-{{ i.id }}' hx-swap='outerHTML' tabindex="-1"><i class="bi bi-pencil-square"></i></button>
                        </div>
                        {% endif %}
                    </div>
                </td>
            </tr>

            {% endfor %}
            <tr>
                <td class="text-end" colspan="3"><b style='font-size: large;'>Subtotal</b></td>
                <td class='text-end'><b style='font-size: large;' id="subtotal">{{ SO.Subtotal|default_if_none:"0" }}</b></td>
                <td><b>{{ SO.Currency }}</b></td>
            </tr>
            <tr>
                <td class="text-end" colspan="3"><b style='font-size: large;'>Pay</b></td>
                <td class='text-end'><b style='font-size: large;' id="payment">{{ SO.Pay|default_if_none:"0" }}</b></td>
                <td><b>{{ SO.Currency }}</b></td>
            </tr>
            <tr>
                <td class="text-end" colspan="3"><b style='font-size: large;'>Refund</b></td>
                <td class='text-end'><b style='font-size: large;' id="refund">{{ SO.Refund|default_if_none:"0" }}</b></td>
                <td><b>{{ SO.Currency }}</b></td>
            </tr>

        </tbody>
    </table>

    </br>

    {% include 'sales/partials/newtransactionform.html' %}

<small id="text" class="text-primary mb-1"></span>
    <div style='height: 400px;'></div>
</div>