{% extends "main/base.html" %}{% block title %}Sales Orders{% endblock title %}
{% block subnav %}
<a class="navbar-brand ml-2" href="{% url 'salesindex' %}" ><i class="bi bi-bag-heart"></i>
    Sales</a>
{% endblock subnav %}
{% block content %}
<div class='container-fluid'>
    <h1>Sales Order</h1>
    {% include 'main/partials/saleschart.html' %}
    <h2><img width="48" height="48" src="https://img.icons8.com/color/48/thailand.png" alt="thailand"/>  {{ totalbaht|default_if_none:"0" }} B</h2>
    <h2><img width="48" height="48" src="https://img.icons8.com/color/48/myanmar.png" alt="myanmar"/>  {{ totalkyat|default_if_none:"0" }} K</h2>
    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <Select id="vendor" class="form-select col-auto mb-1 border-primary" name="customer"
                    hx-get="{% url 'solistfilter' %}" hx-target="#list" hx-swap="outerHTML">
                    <option value="0"><b>--------------</b></option>
                    {% for c in customer %}
                    <option value="{{ c.id }}">{{ c.Customer_Name }}</option>
                    {% endfor %}
                </Select>
                <label for="Customer">Customer</label>
            </div>
        </div>
    </div>
    {% include 'sales/partials/SOlist.html' %}
    <!-- <table class='table table-hover'>
        <thead>
            <th>ID</th>
            <th>Create Date</th>
            <th>Customer</th>
            <th class="text-end">Total</th>
        </thead>
        <tbody>
            {% for o in SO %}
            <tr>
                <td><a href="{% url 'SD' o.id %}">SO-{{ o.id }}</a></td>
                <td>{{ o.CreateDate }}</td>
                <td><a href="{% url 'editcustomer' o.Customer.id %}">{{ o.Customer }}</a></td>
                <td class="text-end">{{ o.Subtotal|default_if_none:"0" }} {{ o.Currency }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if SO.has_other_pages %}
    <nav aria-label="Page navigation">
    <ul class="pagination">
        {% if SO.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ SO.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="page-item disabled"><span><a href="#" class="page-link">&laquo;</a></span></li>
        {% endif %}

        {% for i in SO.paginator.page_range %}
        {% if SO.number == i %}
        {% if SO.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ SO.previous_page_number }}">{{ SO.previous_page_number }}</a></li>

        {% endif %}
        <li class="page-item active"><span><a class="page-link" href="#">{{ i }}</a> <span class="sr-only">(current)</span></span></li>
        {% if SO.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ SO.next_page_number }}">{{ SO.next_page_number }}</a></li>
        {% endif %}
        

        {% endif %}
        {% endfor %}
        
        

        {% if SO.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ last }}">End</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ SO.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="page-item disabled"><span><a href="#" class="page-link">&raquo;</a></span></li>
        {% endif %}
    </ul>
    </nav>
    {% endif %}
-->
</div>
{% endblock %}