{% extends "main/base.html" %}{% block title %}New Carry Form{% endblock title %}
{% block subnav %}<a class="navbar-brand ml-2" href="{% url 'purchaseindex' %}"><i class="bi bi-bag"></i> Purchase List</a>{% endblock %}
{% block content %}
<div class='container'>
    <h1>Carry Form</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="form-floating mb-3">
            {{ form.Name }}
            <label for="Name">Name</label>
        </div>
        <div class="form-floating mb-3">
            {{ form.Contact }}
            <label for="Contact">Contact</label>
        </div>
        {{ form.errors }}
        <br>
        <button class="w-100 btn btn-lg btn-primary md-4" type="submit">Submit</button>
    </form>
</div>
{% endblock %}