{% extends "main/base.html" %}{% block title %}New Product Form{% endblock title %}
{% block subnav %}<a class="navbar-brand ml-1" href="{% url 'index' %}" ><i class="bi bi-building"></i></i>
    WMS</a>{% endblock %}
{% block content %}
<div class='container'>
  <h1>Product Form</h1>
  <form method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
    <div class="form-floating mb-3">
        {{ form.Status }}
        <label for="Status">Status</label>
      </div>
      <div class="form-floating mb-3">
        {{ form.Note }}
        <label for="Note">Note</label>
      </div>
      <div class="form-floating mb-3">
        {{ form.Vehicle }}
        <label for="Vehicle">Vehicle</label>
      </div>
    <label for="Photo">Photo</label>
    {{ form.Photo }}
    {{ form.errors }}
    <br>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
</div>
{% endblock %}